body {
    border: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header, .hero{
    background-color: #1F2937;
}

.page {
    display: flex;
    flex-direction: column;
}

/*---------------------------------------------------------------------------*/
header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    align-items: center;
    color:#F9FAF8;
}

h1{
    font-size: 18px;
}

ul{
    display: flex;
    gap: 15px;
}

li{
    text-decoration: none;
    list-style-type: none;
}

/*------------------------------------------------------------------------*/
.hero{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
}
 
.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    align-items: flex-start;
    justify-content: space-between;
    padding: 30px;
    gap: 10px;
}

.hero_main{
    font-size: 48px;
    font-weight: 1000;
    color:#F9FAF8;
}

.hero_secondary{
    font-size: 18px;
    color: #E5E7EB;
}

button{
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 7px;
}
.image{
    background-color: #E5E7EB;
    color: #1F2937;
    height: 220px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*---------------------------------------------------------------------------*/
.info {
    color: #1F2937;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.info_item{
    width: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box{
    border: 5px solid #3882F6;
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

.caption{
    text-align: center;
}

/*---------------------------------------------------------------------------*/
.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------------------------------------------------------------*/
.action{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.blue {
    background-color: #3882F6;
    color:#F9FAF8
}

/*---------------------------------------------------------------------------*/
footer {
    background-color: #1F2937;
    color:#F9FAF8;

}

