body {
  border: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header,
.hero {
  background-color: #1f2937;
}

.page {
  display: flex;
  flex-direction: column;
}

/*---------------------------------------------------------------------------*/
header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px 100px;
  align-items: center;
  color: #f9faf8;
}

h1 {
  font-size: 18px;
}

ul {
  display: flex;
  gap: 15px;
}

li {
  text-decoration: none;
  list-style-type: none;
}

/*------------------------------------------------------------------------*/
.hero {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 100px;
}

.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  gap: 10px;
}

.hero_main {
  font-size: 48px;
  font-weight: 1000;
  color: #f9faf8;
}

.hero_secondary {
  font-size: 18px;
  color: #e5e7eb;
}

.hero_button {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 5px 20px;
  border-radius: 7px;
}
.image {
  background-color: #e5e7eb;
  color: #1f2937;
  height: 220px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*---------------------------------------------------------------------------*/
.info {
  color: #1f2937;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.info_item {
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.box {
  border: 5px solid #3882f6;
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

.caption {
  text-align: center;
}

/*---------------------------------------------------------------------------*/
.quote {
  background-color: #e5e7eb;
  color: #1f2937;
  height: 400px;
  padding: 10px 100px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote_container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  width: 800px;
  gap: 30px;
}

.words {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
}

.thor {
  align-self: flex-end;
  font-size: 18px;
  font-weight: bold;
  padding-right: 50px;
}

/*---------------------------------------------------------------------------*/
.action {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action_container {
  display: flex;
  background-color: #3882f6;
  height: 100px;
  width: 800px;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.action_column {
  display: flex;
  flex-direction: column;
}
.action_main {
  color: #f9faf8;
  font-weight: bold;
  font-size: 24px;
}
.action_secondary {
  color: #f9faf8;
  font-size: 18px;
}
.action_button {
  color: #f9faf8;
  font-weight: bold;
  background-color: #3882f6;
  padding: 5px 20px;
  border-radius: 7px;
  height: 30px;
  width: 100px;
  border: 2px solid #f9faf8;
}
/*---------------------------------------------------------------------------*/
footer {
  background-color: #1f2937;
  color: #f9faf8;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
